
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(179, 205, 205);
}

#header{

    background-image: url(../imgs/5685020.jpg);
    background-size: cover;
    border-radius: 15px;

} 
#btn{
    background-color:rgb(255, 105, 24) ;
}

#booking{
    background-color: rgb(255, 105, 24)
}


.card-custom {
    border-radius: 15px;
    transition: all 0.3s ease;
}

.card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.ad-image {
    width: 100%; /* Adjust this as needed */
    height: 100%; /* This maintains aspect ratio */
    max-width: 100%;
    max-height: 200px; /* Adjust this to your preferred height */
}
